div.quiz-authors {
    display: block;
    font-weight: 400;
    font-size: 1.6rem;
}

a.quiz-author {
    display: inline-flex;
    align-items: center;
    margin-right: 1em;
}

a.quiz-author:last-child {
    margin-right: 0;
}

img.quiz-gh-avatar {
    display: inline-block;
    margin-right: 0.3em;
    height: 2rem;
    border-radius: 1em;
}

@media screen and (min-width: 800px) {
    h1.quiz-with-authors {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media print {
    details {
        page-break-before: always;
    }

    details summary {
        display: none;
    }

    h1 {
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    a.quiz-author {
        text-transform: none;
    }
}
